@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.keyboard_log::after {
    content: "|";
    font-size: 27.5px;
    margin-left: -3px;
}

.retry button {
    font-family: "JetBrains Mono";
    color: white;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid white;
    padding: 5px 10px;
    transition: 0.25s;
}

.retry button:hover {
    color: black;
    background-color: white;    
    transition: 0.25s;
}

#backspace_total {
    color: rgba(255, 255, 255, 0.225);
}

#backspace_total::before {
    content: "backspace";
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.225);
    padding: 1px 5px;
    font-size: 12.5px;
    color: white;
}

#accurate {
    margin-top: -20px;
    font-size: 50px;
    font-family: "JetBrains Mono"
}

#others {
    margin-top: -50px;
}

.system {
    line-height: 2.0;
}

.green, .red, .yellow {
    line-height: normal;
}